* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

.fullnav {
    background-color: #212529;
}

.container {
    max-width: 1320px;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}



.navbar-element {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.nav-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.39);
    font-weight: 400;
    font-size: 17px;
    transition: 0.3s;
}

.nav-item a:hover {
    color: gainsboro;
}

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.header {
    background-color: #0d6efd;
    padding-top: 9.5rem;
    padding-bottom: 6rem;
}

.text-sect {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.text-sect h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 16px;

}

.text-sect a {
    color: black;
}

.btn {
    cursor: pointer;
    padding: 10px 16px;
    background-color: white;
    border-radius: 8px;
    width: 170px;
    transition: 0.3s;
    margin: auto;
}

.btn:hover {
    background-color: gainsboro;
}

.about {
    padding-top: 9rem;
    padding-bottom: 9rem
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 66.7%;
}

.about-text h2 {
    margin-bottom: 8px;
    font-size: 2rem;
}

.offers {
    background-color: #F8F9FA;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.offer-text {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.offer-text h2 {
    font-size: 2rem;
    margin-bottom: 8px;
}

.offer-text p {
    font-size: 1.25rem;
    font-weight: 300;
}

.contact {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.contact-text{
    display: flex;
    flex-direction: column;
    width: 66%;
}
.contact-text h2{
    font-size: 2rem;
    margin-bottom: 8px;
}
.contact-text p{
    font-size: 1.25rem;
    font-weight: 300;
}
.footer{
    background-color: #212529;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer p{
    margin: auto;
    color: white;
}